@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Domain.cHUMVIfelelos>

@{
    ViewData["Title"] = "HUMVI felelősök";
}
<partial name="_ListingHeader" model="Model.Count()" />

<table class="table table-striped stickyheader">
    <thead>
        <tr>
            <th>
                Felelős
            </th>
            <th>
                Név
            </th>
            <th>
                Cím
            </th>
            <th>
                Létrehozva
            </th>
            <th>
                Utolsó módosítás
            </th>
            <th class="actioncol"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Felelos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td class="actioncol">
                    <partial name="_ListingActions" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
