@model IEnumerable<Domain.cHUMVIfelelos>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<h1>HUMVI felelősök</h1>

<p>
    <a href="/HUMVIfelelos/Create" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Felelős
            </th>
            <th>
                Név
            </th>
            <th>
                Cím
            </th>
            <th>
                Létrehozva
            </th>
            <th>
                Utolsó módosítás
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Felelos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a href="/HUMVIfelelos/Edit/@item.Id" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a href="/HUMVIfelelos/Details/@item.Id" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a href="/HUMVIfelelos/Delete/@item.Id" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
