@model IEnumerable<Domain.cMinta>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        .minta_tabla_small-font {
            font-size: 10px;
        }
    </style>
    <style>
        .minta_tabla_medium-font {
        font-size: 12px;
    }
    </style>
</head>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<h1>Vízminták</h1>

<p>
  <!--  <a href="#" onclick="showPage('createMinta')">Create New</a>-->
    <a href="/Minta/Create" asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Index" class="mb-4">
    <div class="row g-3">
        <div class="col-md-3">
            <label for="startDate" class="form-label">Mintavétel kezdete</label>
            <input type="date" name="startDate" id="startDate" class="form-control" value="@ViewContext.HttpContext.Request.Query["startDate"]" />
        </div>
        <div class="col-md-3">
            <label for="endDate" class="form-label">Mintavétel vége</label>
            <input type="date" name="endDate" id="endDate" class="form-control" value="@ViewContext.HttpContext.Request.Query["endDate"]" />
        </div>

        <div class="col-md-2">
            <label for="mvhKod" class="form-label">Mintavételi hely</label>
            <select name="mvhKod" id="mvhKod" class="form-control">
                <option value="">-- Válasszon --</option>
                @if (ViewBag.MvhKodList != null)
                {
                    foreach (var item in (IEnumerable<SelectListItem>)ViewBag.MvhKodList)
                    {
                        <option value="@item.Value" @(item.Value == @ViewContext.HttpContext.Request.Query["mvhkod"] ? "selected" : "")>
                            @item.Text
                        </option>
                    }
                }                
            </select>
        </div>
        <div class="col-md-2">
            <label for="vizBazis" class="form-label">Víz bázis</label>
            <select name="vizBazis" id="vizBazis" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.VizBazisList)
                {
                    <option value="@item" @(item == @ViewContext.HttpContext.Request.Query["vizBazis"] ? "selected" : "")>@item</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="telepules" class="form-label">Település</label>
            <select name="telepules" id="telepules" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.TelepulesList)
                {
                    <option value="@item" @(item == @ViewContext.HttpContext.Request.Query["telepules"] ? "selected" : "")>@item</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="mvOk" class="form-label">Mintavétel oka</label>
            <select name="mvOk" id="mvOk" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.MvOkList)
                {
                    <option value="@item" @(item == @ViewContext.HttpContext.Request.Query["mvOk"] ? "selected" : "")>@item</option>
                }
            </select>
        </div>
       <div class="col-md-2">
            <label for="modulKod" class="form-label">HUMVI Modul Kód</label>
            <select name="modulKod" id="modulKod" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.ModulKodList)
                {
                    <option value="@item" @(item == @ViewContext.HttpContext.Request.Query["modulKod"] ? "selected" : "")>@item</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="humviexport" class="form-label">HUMVI Export</label>
            <select name="humviexport" id="humviexport" class="form-control">
                <option value="">-- Válasszon --</option>
                <option value="true" @(ViewContext.HttpContext.Request.Query["humviexport"] == "true" ? "selected" : "")>Igen</option>
                <option value="false" @(ViewContext.HttpContext.Request.Query["humviexport"] == "false" ? "selected" : "")>Nem</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Szűrés</button>
        </div>
        <div class="col-md-2">
            <a href="/Minta/Index" class="btn btn-secondary w-100">Szűrők törlése</a>
        </div>
    </div>
</form>



<form id="mintaForm" method="post" action="/Minta/Export">

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Exportálás</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th><input type="checkbox" id="masterCheckbox" /></th>
                <th>
                    Humvi export
                </th>
                <th>
                    Laborkód
                </th>
                <th>
                    Mintavétel dátuma
                </th>
                <th>
                    Mintaátvétel dátuma
                </th>
                <th>
                    Mintavétel oka
                </th>
                <th>
                    Mintavétel helye
                </th>
                <th>
                    Akkr. mintavétel
                </th>
                <th>
                    HUMVI felelős
                </th>
                <th>
                    Modul
                </th>
                <th>
                    Mintavevő
                </th>

                <th>
                    Vizsgálólabor
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <input type="checkbox" name="selectedIds" value="@item.Id" class="rowCheckbox" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HUMVIexport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaborMintaKod)
                </td>
                <td>
                    @item.MvDatum.ToString("yyyy.MM.dd.")
                </td>
                <td>
                    @item.MintaAtvetel.ToString("yyyy.MM.dd.")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cMvOka.Leiras)
                </td>
                <td class="minta_tabla_small-font">
                    @if (string.IsNullOrEmpty(item.cMvHely?.MvhKod) || item.cMvHely.MvhKod.ToLower() == "na")
                    {
                        @Html.DisplayFor(modelItem => item.MvHely)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.cMvHely.NevSajat)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cAkkrMintavetel.AkkrMintavetelStatusz)
                </td>
                <td class="minta_tabla_small-font">
                    @Html.DisplayFor(modelItem => item.cHUMVIfelelos.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHUMVImodul.Leiras)
                </td>
                <td class="minta_tabla_small-font">
                    @Html.DisplayFor(modelItem => item.cMintavevo.Nev)
                </td>

                <td class="minta_tabla_small-font">
                    @Html.DisplayFor(modelItem => item.cVizsgaloLabor.Nev)
                </td>
                <td>
        <!--                <a href="#" onclick="showPage('showMintaEdit', @item.Id)">Edit</a>
                    <a href="#" onclick="showPage('showMintaDetails', @item.Id)">Details</a>
                        <a href="#" onclick="showPage('showMintaDelete', @item.Id)">Delete</a>-->
                    <a href="/Minta/Edit/@item.Id" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a href="/Minta/Details/@item.Id" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a href="/Minta/Delete/@item.Id" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>

<script>
    document.getElementById('masterCheckbox').addEventListener('change', function () {
        const isChecked = this.checked;
        document.querySelectorAll('.rowCheckbox').forEach(cb => cb.checked = isChecked);
    });
</script>
