@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Domain.cMinta>

@{
    ViewData["Title"] = "Vízminták";
}

<partial name="_ListingHeader" model="Model.Count()" />

<form method="get" asp-action="Index" class="mb-4">
    <div class="row g-3">
        <div class="col-md-3">
            <label for="startDate" class="form-label">Mintavétel kezdete</label>
            <input type="date" name="startDate" id="startDate" class="form-control" value="@ViewContext.HttpContext.Request.Query["startDate"]" />
        </div>
        <div class="col-md-3">
            <label for="endDate" class="form-label">Mintavétel vége</label>
            <input type="date" name="endDate" id="endDate" class="form-control" value="@ViewContext.HttpContext.Request.Query["endDate"]" />
        </div>

        <div class="col-md-2">
            <label for="mvhKod" class="form-label">Mintavételi hely</label>
            <select name="mvhKod" id="mvhKod" class="form-control">
                <option value="">-- Válasszon --</option>
                @if (ViewBag.MvhKodList != null)
                {
                    foreach (var item in (IEnumerable<SelectListItem>)ViewBag.MvhKodList)
                    {
                        <option value="@item.Value" selected="@(item == ViewContext.HttpContext.Request.Query["mvhkod"] ? "selected" : null)">
                            @item.Text
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="vizBazis" class="form-label">Víz bázis</label>
            <select name="vizBazis" id="vizBazis" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.VizBazisList)
                {
                    <option value="@item" selected="@(item == ViewContext.HttpContext.Request.Query["vizBazis"] ? "selected" : null)">@item</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="telepules" class="form-label">Település</label>
            <select name="telepules" id="telepules" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.TelepulesList)
                {
                    <option value="@item" selected="@(item == ViewContext.HttpContext.Request.Query["telepules"] ? "selected" : null)">@item</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="mvOk" class="form-label">Mintavétel oka</label>
            <select name="mvOk" id="mvOk" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.MvOkList)
                {
                    <option value="@item" selected="@(item == ViewContext.HttpContext.Request.Query["mvOk"] ? "selected" : null)">@item</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="modulKod" class="form-label">HUMVI Modul Kód</label>
            <select name="modulKod" id="modulKod" class="form-control">
                <option value="">-- Válasszon --</option>
                @foreach (var item in ViewBag.ModulKodList)
                {
                    <option value="@item" selected="@(item == ViewContext.HttpContext.Request.Query["modulKod"] ? "selected" : null)">@item</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label for="humviexport" class="form-label">HUMVI Export</label>
            <select name="humviexport" id="humviexport" class="form-control">
                <option value="">-- Válasszon --</option>
                <option value="true" selected="@(ViewContext.HttpContext.Request.Query["humviexport"] == "true" ? "selected" : null)">Igen</option>
                <option value="false" selected="@(ViewContext.HttpContext.Request.Query["humviexport"] == "false" ? "selected" : null)">Nem</option>
            </select>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2 align-content-end">
            <button type="submit" class="btn btn-primary w-100"><i class="bi bi-funnel"></i> Szűrés</button>
        </div>
        <div class="col-md-2 align-content-end">
            <a asp-action="Index" class="btn btn-secondary w-100"><i class="bi bi-x-lg"></i> Szűrők törlése</a>
        </div>
    </div>
</form>

<form id="mintaForm" method="post" asp-action="Export">
    <div class="mb-3">
        <button type="submit" name="exportAction" value="preview" class="btn btn-success">Előnézet</button>

        <button type="submit" name="exportAction" value="xml" class="btn btn-success">XML Letöltése</button>

        <button type="submit" name="exportAction" value="excel" class="btn btn-success">Excel Exportálása</button>
    </div>

    <table class="table table-striped stickyheader">
        <thead>
            <tr>
                <th><input type="checkbox" id="masterCheckbox" /></th>
                <th>
                    Humvi export
                </th>
                <th>
                    Laborkód
                </th>
                <th>
                    Mintavétel dátuma
                </th>
                <th>
                    Mintaátvétel dátuma
                </th>
                <th>
                    Mintavétel oka
                </th>
                <th>
                    Mintavétel helye
                </th>
                <th>
                    Akkr. mintavétel
                </th>
                <th>
                    HUMVI felelős
                </th>
                <th>
                    Modul
                </th>
                <th>
                    Mintavevő
                </th>
                <th>
                    Vizsgálólabor
                </th>
                <th class="actioncol"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                        <input type="checkbox" name="selectedIds" value="@item.Id" class="rowCheckbox" 
                        @if (ViewBag.SelectedIds != null && ViewBag.SelectedIds.Contains(item.Id))
                            {
                                @:checked
                            } />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HUMVIexport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaborMintaKod)
                </td>
                <td>
                    @item.MvDatum.ToString("yyyy.MM.dd.")
                </td>
                <td>
                    @item.MintaAtvetel.ToString("yyyy.MM.dd.")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cMvOka.Leiras)
                </td>
                <td class="minta_tabla_small-font">
                    @if (string.IsNullOrEmpty(item.cMvHely?.MvhKod) || item.cMvHely.MvhKod.ToLower() == "na")
                    {
                        @Html.DisplayFor(modelItem => item.MvHely)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.cMvHely.NevSajat)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cAkkrMintavetel.AkkrMintavetelStatusz)
                </td>
                <td class="minta_tabla_small-font">
                    @Html.DisplayFor(modelItem => item.cHUMVIfelelos.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHUMVImodul.Leiras)
                </td>
                <td class="minta_tabla_small-font">
                    @Html.DisplayFor(modelItem => item.cMintavevo.Nev)
                </td>

                <td class="minta_tabla_small-font">
                    @Html.DisplayFor(modelItem => item.cVizsgaloLabor.Nev)
                </td>
                <td class="actioncol">
                    <partial name="_ListingActions" model="@item.Id" />
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const maxSelectableItems = '@ViewBag.maxSelectableItems';
        const checkboxes = document.querySelectorAll('.rowCheckbox');
        const masterCheckbox = document.getElementById('masterCheckbox');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                const checkedCount = document.querySelectorAll('.rowCheckbox:checked').length;
                if (checkedCount > maxSelectableItems) {
                    alert(`Maximum ${maxSelectableItems} elem választható ki!`);
                    this.checked = false; // A jelölés visszavonása
                }
            });
        });

        // Master checkbox szinkronizáció
        masterCheckbox.addEventListener('change', function () {
            const isChecked = this.checked;
            let checkedCount = document.querySelectorAll('.rowCheckbox:checked').length;

            checkboxes.forEach(cb => {
                if (isChecked && checkedCount < maxSelectableItems) {
                    cb.checked = true;
                    checkedCount++;
                } else if (!isChecked) {
                    cb.checked = false;
                }
            });

            if (checkedCount > maxSelectableItems) {
                alert(`Csak ${maxSelectableItems} elemet választhat ki a kijelölő négyzetek használatával!`);
                masterCheckbox.checked = false;
            }
        });

    });

</script>
