@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.cMertekegyseg

@{
    ViewData["Title"] = "Create";
}

<script src="/_framework/aspnetcore-browser-refresh.js"></script>

<h1>Mértékegységek</h1>

<h4>Új rekord létrehozása</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken() <!-- Ensure CSRF token is included for security -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Megyseg" class="control-label">Mértékegység kód</label>
                <input type="text" asp-for="Megyseg" class="form-control" id="Megyseg" name="Megyseg" value="@Model.Megyseg" />
                <span asp-validation-for="Megyseg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumviLeiras" class="control-label">HUMVI leírás</label>
                <input type="text" asp-for="HumviLeiras" class="form-control" id="HumviLeiras" name="HumviLeiras" value="@Model.HumviLeiras" />
                <span asp-validation-for="HumviLeiras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SajatLeiras" class="control-label">Saját leírás</label>
                <input type="text" asp-for="SajatLeiras" class="form-control" id="SajatLeiras" name="SajatLeiras" value="@Model.SajatLeiras" />
                <span asp-validation-for="SajatLeiras" class="text-danger"></span>
                <!-- Hidden fields for Created, LastModified -->
                <div class="form-group" style="display:none;">
                    <label for="Created">Created</label>
                    <input type="hidden" id="Created" name="Created" value="@DateTime.UtcNow" />
                </div>

                <div class="form-group" style="display:none;">
                    <label for="LastModified">LastModified</label>
                    <input type="hidden" id="LastModified" name="LastModified" value="@DateTime.UtcNow" />
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Létrehozás" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Index">Mégsem</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

