@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Domain.cMertekegyseg>

@{
    ViewData["Title"] = "Index";
}

<h1>Mértékegységek</h1>

<a class="btn btn-primary my-2" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Create">Hozzáadás</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Mértékegység kód
            </th>
            <th>
                HUMVI leírás
            </th>
            <th>
                Saját leírás
            </th>
            <th>
                Létrehozva
            </th>
            <th>
                Utolsó módosítás
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Megyseg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HumviLeiras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SajatLeiras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Edit" asp-route-id="@item.Id">Szerkeszt</a>
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Details" asp-route-id="@item.Id">Részletek</a>
                    <a class="btn btn-danger btn-sm" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>
