@model Domain.cHUMVImodul

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<h1>HUMVI modulkódok</h1>

<div>
    <h4>Részletek</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
             Modul kód
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModulKod)
        </dd>
        <dt class = "col-sm-2">
           Leírás
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leiras)
        </dd>
        <dt class = "col-sm-2">
            Létrehozva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            Utolsó módosítás
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a href="#" onclick="showPage('showHumviModulEdit', @Model.Id)">Edit</a>
    <a href="#" onclick="showPage('humviModul')">Back to List</a>

</div>
