@model Domain.cVizsgaloLabor

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<h1>Vizsgálólaborok</h1>

<div>
    <h4>Részletek</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
             Azonosító
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Labor)
        </dd>
         <dt class = "col-sm-2">
             Akkreditációs szám
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabAkkrSzam)
        </dd>
         <dt class = "col-sm-2">
             Név
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nev)
        </dd>
         <dt class = "col-sm-2">
             Cím
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cim)
        </dd>
        <dt class = "col-sm-2">
           Érvényesség kezdete
        </dt>
        <dd class = "col-sm-10">
            @Model.ErvKezdete.ToString("yyyy.MM.dd")
        </dd>
        <dt class = "col-sm-2">
           Érvényesség vége
        </dt>
        <dd class = "col-sm-10">
            @Model.ErvVege.ToString("yyyy.MM.dd")
        </dd>
        <dt class = "col-sm-2">
            Létrehozva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            Utolsó módosítás
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a href="/VizsgaloLabor/Edit/@Model?.Id" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a href="/VizsgaloLabor/Index" asp-action="Index">Back to List</a>
</div>
