@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.cVizsgaloLabor

@{
    ViewData["Title"] = "Edit";
}

<h1>Vizsgálólaborok</h1>

<h4>Szerkesztés</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken() <!-- Ensure CSRF token is included for security -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" id="Id" name="Id" value="@Model.Id" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Labor" class="control-label">Azonosító</label>
                <input type="text" asp-for="Labor" class="form-control" id="Labor" name="Labor" value="@Model.Labor" />
                <span asp-validation-for="Labor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabAkkrSzam" class="control-label">Akkreditációs szám</label>
                <input type="text" asp-for="LabAkkrSzam" class="form-control" id="LabAkkrSzam" name="LabAkkrSzam" value="@Model.LabAkkrSzam" />
                <span asp-validation-for="LabAkkrSzam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nev" class="control-label">Név</label>
                <input type="text" asp-for="Nev" class="form-control" id="Nev" name="Nev" value="@Model.Nev" />
                <span asp-validation-for="Nev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cim" class="control-label">Cím</label>
                <input type="text" asp-for="Cim" class="form-control" id="Cim" name="Cim" value="@Model.Cim" />
                <span asp-validation-for="Cim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErvKezdete" class="control-label">Érvényesség kezdete</label>
                <input type="date" asp-for="ErvKezdete" class="form-control" id="ErvKezdete" name="ErvKezdete" value="@Model.ErvKezdete.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="ErvKezdete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErvVege" class="control-label">Érvényesség vége</label>
                <input type="date" asp-for="ErvVege" class="form-control" id="ErvVege" name="ErvVege" value="@Model.ErvVege.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="ErvVege" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label">Létrehozva</label>
                <input asp-for="Created" class="form-control" id="Created" name="Created" readonly/>
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label">Utolsó módosítás</label>
                <input asp-for="LastModified" class="form-control" id="LastModified" name="LastModified" readonly/>
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Mentés" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Index">Mégsem</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
