@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Domain.cVizsgaloLabor>

@{
    ViewData["Title"] = "Vizsgálólaborok";
}
<partial name="_ListingHeader" model="Model.Count()" />

<table class="table table-striped stickyheader">
    <thead>
        <tr>
            <th>
                Azonosító
            </th>
            <th>
                Akkreditációs szám
            </th>
            <th>
                Név
            </th>
            <th>
                Cím
            </th>
            <th>
                Érvényesség kezdete
            </th>
            <th>
                Érvényesség vége
            </th>
            <th>
                Létrehozva
            </th>
            <th>
                Utolsó módosítás
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Labor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabAkkrSzam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cim)
                </td>
                <td>
                    @item.ErvKezdete.ToString("yyyy.MM.dd.")
                </td>
                <td>
                    @item.ErvVege.ToString("yyyy.MM.dd.")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Edit" asp-route-id="@item.Id">Szerkeszt</a>
                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Details" asp-route-id="@item.Id">Részletek</a>
                    <a class="btn btn-danger btn-sm" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>
