@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.cMintavevo

@{
    ViewData["Title"] = "Delete";
}

<h1>Mintavevők</h1>

<div>
    <h4>Biztosan törölni akarja a rekordot?</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
             Azonosító
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MintavevoAzonosito)
        </dd>
         <dt class = "col-sm-2">
             Akkreditációs szám
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MvAkkrSzam)
        </dd>
         <dt class = "col-sm-2">
             Név
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nev)
        </dd>
         <dt class = "col-sm-2">
             Cím
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cim)
        </dd>
        <dt class = "col-sm-2">
           Érvényesség kezdete
        </dt>
        <dd class = "col-sm-10">
            @Model.ErvKezdete.ToString("yyyy.MM.dd")
        </dd>
        <dt class = "col-sm-2">
           Érvényesség vége
        </dt>
        <dd class = "col-sm-10">
            @Model.ErvVege.ToString("yyyy.MM.dd")
        </dd>
        <dt class = "col-sm-2">
            Létrehozva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            Utolsó módosítás
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken() <!-- Ensure CSRF token is included for security -->
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Index">Mégsem</a>
    </form>
</div>
