@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.cMvHely

@{
    ViewData["Title"] = "Create";
}

<script src="/_framework/aspnetcore-browser-refresh.js"></script>

<h1>Mintavételi helyek</h1>

<h4>Új rekord létrehozása</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken() <!-- Ensure CSRF token is included for security -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MvhKod" class="control-label">Azonosító</label>
                <input type="text" asp-for="MvhKod" class="form-control" id="MvhKod" name="MvhKod" value="@Model.MvhKod" />
                <span asp-validation-for="MvhKod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NevSajat" class="control-label">Név, saját</label>
                <input type="text" asp-for="NevSajat" class="form-control" id="NevSajat" name="NevSajat" value="@Model.NevSajat" />
                <span asp-validation-for="NevSajat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NevTeljes" class="control-label">Név, teljes</label>
                <input type="text" asp-for="NevTeljes" class="form-control" id="NevTeljes" name="NevTeljes" value="@Model.NevTeljes" />
                <span asp-validation-for="NevTeljes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VizBazis" class="control-label">Vízbázis</label>
                <input type="text" asp-for="VizBazis" class="form-control" id="VizBazis" name="VizBazis" value="@Model.VizBazis" />
                <span asp-validation-for="VizBazis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NevRovid" class="control-label">Név, rövid</label>
                <input type="text" asp-for="NevRovid" class="form-control" id="NevRovid" name="NevRovid" value="@Model.NevRovid" />
                <span asp-validation-for="NevRovid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telepules" class="control-label">Település</label>
                <input type="text" asp-for="Telepules" class="form-control" id="Telepules" name="Telepules" value="@Model.Telepules" />
                <span asp-validation-for="Telepules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipus" class="control-label">Típus</label>
                <input type="text" asp-for="Tipus" class="form-control" id="Tipus" name="Tipus" value="@Model.Tipus" />
                <span asp-validation-for="Tipus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumviRegiNev" class="control-label">HUMVI régi név</label>
                <input type="text" asp-for="HumviRegiNev" class="form-control" id="HumviRegiNev" name="HumviRegiNev" value="@Model.HumviRegiNev" />
                <span asp-validation-for="HumviRegiNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPS_N_Y" class="control-label">GPS_N_Y</label>
                <input type="number" step="any" asp-for="GPS_N_Y" class="form-control" id="GPS_N_Y" name="GPS_N_Y" value="@Model.GPS_N_Y" />
                <span asp-validation-for="GPS_N_Y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPS_E_X" class="control-label">GPS_E_X</label>
                <input type="number" step="any" asp-for="GPS_E_X" class="form-control" id="GPS_E_X" name="GPS_E_X" value="@Model.GPS_E_X" />
                <span asp-validation-for="GPS_E_X" class="text-danger"></span>
            </div>
            <!-- Hidden fields for Created, LastModified -->
            <div class="form-group" style="display:none;">
                <label for="Created">Created</label>
                <input type="hidden" id="Created" name="Created" value="@DateTime.UtcNow" />
            </div>

            <div class="form-group" style="display:none;">
                <label for="LastModified">LastModified</label>
                <input type="hidden" id="LastModified" name="LastModified" value="@DateTime.UtcNow" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Létrehozás" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Index">Mégsem</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

