@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.cMvHely

@{
    ViewData["Title"] = "Details";
}

<h1>Mintavételi helyek</h1>

<div>
    <h4>Részletek</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
             Azonosító
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MvhKod)
        </dd>
         <dt class = "col-sm-2">
             Név, saját
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NevSajat)
        </dd>
         <dt class = "col-sm-2">
             Név, teljes
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NevTeljes)
        </dd>
         <dt class = "col-sm-2">
             Vízbázis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VizBazis)
        </dd>
         <dt class = "col-sm-2">
             Név, rövid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NevRovid)
        </dd>
         <dt class = "col-sm-2">
             Település
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telepules)
        </dd>
         <dt class = "col-sm-2">
             Típus
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipus)
        </dd>
         <dt class = "col-sm-2">
             HUMVI régi név
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HumviRegiNev)
        </dd>
         <dt class = "col-sm-2">
             GPS_N_Y
        </dt>
        <dd class = "col-sm-10">
            @(Model.GPS_N_Y == null ? "Érték nincs megadva" : Model.GPS_N_Y.Value.ToString("F5"))
        </dd>
        </dd>
         <dt class = "col-sm-2">
             GPS_E_X
        </dt>
        <dd class = "col-sm-10">
            @(Model.GPS_E_X == null ? "Érték nincs megadva" : Model.GPS_E_X.Value.ToString("F5"))
        </dd>
        <dt class = "col-sm-2">
            Létrehozva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            Utolsó módosítás
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Edit" asp-route-id="@Model.Id">Szerkeszt</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Index">Mégsem</a>
</div>
