@model Domain.cMvHely

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<h1>Mintavételi helyek</h1>

<h4>Szerkesztés</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken() <!-- Ensure CSRF token is included for security -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" id="Id" name="Id" value="@Model.Id" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MvhKod" class="control-label">Azonosító</label>
                <input type="text" asp-for="MvhKod" class="form-control" id="MvhKod" name="MvhKod" value="@Model.MvhKod" />
                <span asp-validation-for="MvhKod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NevSajat" class="control-label">Név, saját</label>
                <input type="text" asp-for="NevSajat" class="form-control" id="NevSajat" name="NevSajat" value="@Model.NevSajat" />
                <span asp-validation-for="NevSajat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NevTeljes" class="control-label">Név, teljes</label>
                <input type="text" asp-for="NevTeljes" class="form-control" id="NevTeljes" name="NevTeljes" value="@Model.NevTeljes" />
                <span asp-validation-for="NevTeljes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VizBazis" class="control-label">Vízbázis</label>
                <input type="text" asp-for="VizBazis" class="form-control" id="VizBazis" name="VizBazis" value="@Model.VizBazis" />
                <span asp-validation-for="VizBazis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NevRovid" class="control-label">Név, rövid</label>
                <input type="text" asp-for="NevRovid" class="form-control" id="NevRovid" name="NevRovid" value="@Model.NevRovid" />
                <span asp-validation-for="NevRovid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telepules" class="control-label">Település</label>
                <input type="text" asp-for="Telepules" class="form-control" id="Telepules" name="Telepules" value="@Model.Telepules" />
                <span asp-validation-for="Telepules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipus" class="control-label">Típus</label>
                <input type="text" asp-for="Tipus" class="form-control" id="Tipus" name="Tipus" value="@Model.Tipus" />
                <span asp-validation-for="Tipus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumviRegiNev" class="control-label">HUMVI régi név</label>
                <input type="text" asp-for="HumviRegiNev" class="form-control" id="HumviRegiNev" name="HumviRegiNev" value="@Model.HumviRegiNev" />
                <span asp-validation-for="HumviRegiNev" class="text-danger"></span>
            </div>

<!---->
            <div class="form-group">
                <label asp-for="GPS_N_Y" class="control-label">GPS_N_Y</label>
                <input type="text" asp-for="GPS_N_Y" class="form-control" id="GPS_N_Y" name="GPS_N_Y" value="@Model.GPS_N_Y" />
                <span asp-validation-for="GPS_N_Y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPS_E_X" class="control-label">GPS_E_X</label>
                <input type="text" asp-for="GPS_E_X" class="form-control" id="GPS_E_X" name="GPS_E_X" value="@Model.GPS_E_X" />
                <span asp-validation-for="GPS_E_X" class="text-danger"></span>
            </div>

<!---->

            <div class="form-group">
                <label asp-for="Created" class="control-label">Létrehozva</label>
                <input asp-for="Created" class="form-control" id="Created" name="Created" value="@Model.Created" readonly/>
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label">Utolsó módosítás</label>
                <input asp-for="LastModified" class="form-control" id="LastModified" name="LastModified" value="@Model.LastModified" readonly/>
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/MvHely/Index" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
