@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.cMvTipus

@{
    ViewData["Title"] = "Edit";
}

<h1>Mintavétel típusa</h1>

<h4>Szerkesztés</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken() <!-- Ensure CSRF token is included for security -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" id="Id" name="Id" value="@Model.Id" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MvTipusNev" class="control-label">Mintavétel típusa</label>
                <input type="text" asp-for="MvTipusNev" class="form-control" id="MvTipusNev" name="MvTipusNev" value="@Model.MvTipusNev" />
                <span asp-validation-for="MvTipusNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leiras" class="control-label">Leírás</label>
                <input type="text" asp-for="Leiras" class="form-control" id="Leiras" name="Leiras" value="@Model.Leiras"/>
                <span asp-validation-for="Leiras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label">Létrehozva</label>
                <input asp-for="Created" class="form-control" id="Created" name="Created" value="@Model.Created" readonly/>
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label">Utolsó módosítás</label>
                <input asp-for="LastModified" class="form-control" id="LastModified" name="LastModified" value="@Model.LastModified" readonly/>
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Mentés" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="Index">Mégsem</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
