@model IEnumerable<Domain.cMvTipus>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<h1>Mintavétel típusa</h1>

<p>
    <a href="/MvTipus/Create" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Mintavétel típusa
            </th>
            <th>
                Leírás
            </th>
            <th>
                Létrehozva
            </th>
            <th>
                Utolsó módosítás
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MvTipusNev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leiras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a href="/MvTipus/Edit/@item.Id" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a href="/MvTipus/Details/@item.Id" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a href="/MvTipus/Delete/@item.Id" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
