@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.cAkkrMintavetel

@{
    ViewData["Title"] = "Create";
}

<script src="/_framework/aspnetcore-browser-refresh.js"></script>

<h1>Akkreditált mintavétel státusza</h1>

<h4>Új rekord létrehozása</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createForm" asp-action="Create" method="post">
            @Html.AntiForgeryToken() <!-- Ensure CSRF token is included for security -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AkkrMintavetelStatusz" class="control-label">Mintavétel státusza</label>
                <input type="text" asp-for="AkkrMintavetelStatusz" class="form-control" id="AkkrMintavetelStatusz" name="AkkrMintavetelStatusz" value="@Model.AkkrMintavetelStatusz" />
                <span asp-validation-for="AkkrMintavetelStatusz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leiras" class="control-label">Leírás</label>
                <input type="text" asp-for="Leiras" class="form-control" id="Leiras" name="Leiras" value="@Model.Leiras" />
                <span asp-validation-for="Leiras" class="text-danger"></span>
            </div>
            <!-- Hidden fields for Created, LastModified -->
            <div class="form-group" style="display:none;">
                <label for="Created">Created</label>
                <input type="hidden" id="Created" name="Created" value="@DateTime.UtcNow" />
            </div>

            <div class="form-group" style="display:none;">
                <label for="LastModified">LastModified</label>
                <input type="hidden" id="LastModified" name="LastModified" value="@DateTime.UtcNow" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Létrehozás" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="" asp-controller="AkkrMintavetel" asp-action="Index">Mégsem</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

